<div class="alert alert-{{type}}">
  <div class="alert-icon">
    <i class="icon-{{type}}" style="display:block;"></i>
  </div>
  <div class="alert-message">
    <h3>{{title}}</h3>
    <p>{{message}}</p>
  </div>
</div>
