<div class="modal bind-category-pop">
  <div class="modal-header">
    <h2>绑定前台类目</h2>
  </div>
  <div class="modal-body">
    <div class="popup-bind js-comp" data-comp-path="admins/fixed_category/view">
      <div class=" form pop-main">
        <div class="category-list fixed-category">
          {{> "admins/fixed_category/templates/_fixed_category"}}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-medium js-bind-front-category" type="button">确定</button>
    <button class="btn btn-medium close">取消</button>
  </div>
</div>
