<li class="attr-value-li" data-attr-value="{{pp this}}">
  <span class="input-icon">
    <input type="text" class="attribute-show" value="{{value}}" readonly="true">
    <i class="icon-del11x13 input-right js-attribute-value-delete"></i>
  </span>
</li>
