<div class="menu-panel left" style="display:block;" data-id="{{data.id}}">
  <div class="properties-edit-panel properties-edit">
    <ul style="width: 160px;">
      <li><label class="properties-edit-label" for="">编辑属性</label></li>
      <li class="attr-value-li">
        <span class="input-icon">最小量（配额100%）:
          <input type="text" class="attribute-show" name="value1" value="{{data.value1}}">
          <i class="icon-del11x13 input-right js-attribute-value-delete"></i>
        </span>
      </li>
      <li class="attr-value-li">
        <span class="input-icon">两家合作供应商标准（配额70%、30%）:
          <input type="text" class="attribute-show" name="value2" value="{{data.value2}}">
          <i class="icon-del11x13 input-right js-attribute-value-delete"></i>
        </span>
      </li>
      <li class="attr-value-li">
        <span class="input-icon">三家合作供应商标准（配额50%、30%、20%）:
          <input type="text" class="attribute-show" name="value3" value="{{data.value3}}">
          <i class="icon-del11x13 input-right js-attribute-value-delete"></i>
        </span>
      </li>
      <li>
        <div class="button-group">
          <button type="button" class="btn btn-small btn-primary js-menu-edit">修改</button>          
          <button type="button" class="btn btn-small btn-info js-menu-cancel">关闭</button>
        </div>
      </li>
    </ul>
  </div>
</div>
