{{! Copyright (c) 2014 杭州端点网络科技有限公司 }}
{{#component "welcome"}}
<h1 class="ui header">
  <i class="big doctor icon"></i>
  <div class="content">
    Welcome to Pampas console.
    <div class="sub header">Have a nice day!</div>
  </div>
</h1>
<p>There are <span class="ui green circular label">{{_DATA_.groups}}</span> groups and <span class="ui green circular label">{{_DATA_.cells}}</span> cells watched by console.</p>
{{/component}}
