{{! Copyright (c) 2014 杭州端点网络科技有限公司 }}
{{#component "login-box"}}
<form class="ui form segment js-form-login">
  <div class="field">
    <label>Username</label>
    <div class="ui left icon input">
      <input type="text" name="name" placeholder="Username">
      <i class="user icon"></i>
    </div>
  </div>
  <div class="field">
    <label>Password</label>
    <div class="ui left icon input">
      <input type="password" name="password" placeholder="Password">
      <i class="lock icon"></i>
    </div>
  </div>
  <button type="submit" class="ui blue button">Login</button>
</form>
{{/component}}
