
.modal {

  #categories-select-menu {
    display: none;
    position: absolute;
    width: 164px;
    left: 180px;
    top: 155px;
  }

  .menu-dropdown {
    & ul {
      -moz-border-radius-bottomleft: 0px;
      -moz-border-radius-bottomright: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    & p {
      background-color: #f4f4f4;
      margin-top: 0px;
      padding-top: 5px;
      padding-bottom: 5px;
      align-items: center;
      -moz-border-radius-bottomleft: 5px;
      -moz-border-radius-bottomright: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-width: 2px;
    }

  }

}