{{#component "js-comp platform-tab"}}
<div class="tab tab-condensed tab-reversed" data-type="switchable">
  <ul class="tab-navs clearfix">
    <li data-role="nav"><a href="/platforms/performance">总绩效</a></li>
    <li data-role="nav"><a href="/platforms/supplier">供应商</a></li>
    <li data-role="nav"><a href="/platforms/demand">需求</a></li>
    <li data-role="nav"><a href="/platforms/buyer">采购商</a></li>
  </ul>
</div>
{{/component}}
