{{#if hasQuantity}}
<select class="unit-quantity input-small">
  <option value="1" data-name="1">1</option>
  <option value="2" data-name="10">10</option>
  <option value="3" data-name="100">100</option>
  <option value="4" data-name="1000">1000</option>
</select>
{{/if}}
<select class="unit-sales input-small">
  <option value="1" data-name="EA">EA</option>
  <option value="2" data-name="JUA">JUA</option>
  <option value="3" data-name="KG">KG</option>
  <option value="4" data-name="BAG">BAG</option>
  <option value="5" data-name="BOT">BOT</option>
  <option value="6" data-name="G">G</option>
  <option value="7" data-name="L">L</option>
  <option value="8" data-name="M">M</option>
  <option value="9" data-name="M2">M2</option>
  <option value="10" data-name="M3">M3</option>
  <option value="11" data-name="ML">ML</option>
  <option value="12" data-name="MM">MM</option>
  <option value="13" data-name="PIA">PIA</option>
  <option value="14" data-name="TAO">TAO</option>
  <option value="15" data-name="TEN">TEN</option>
  <option value="16" data-name="TIA">TIA</option>
  <option value="17" data-name="TO">TO</option>
  <option value="18" data-name="ZHA">ZHA</option>
</select>