{{#component "js-comp qualify-rule operation-platform"}}
  <p class="components-title"><strong>供应商资质校验条目</strong></p>
  <form class="form form-aligned" id="qualify-rule-form">
    {{#each _DATA_}}
      <div class="control-group rule-group">
        条目内容: &nbsp;<input type="text" name="name" class="input-large" value="{{name}}">
        &nbsp;&nbsp;&nbsp;
        是否否决项: <label class="veto-label"><input id="isVeto" name="type{{@index}}" type="radio" value="1" class="rule-type" {{#equals type 1}}checked{{/equals}}> 是 </label>
         <label class="veto-label"><input id="notVeto" name="type{{@index}}" type="radio" value="0" class="rule-type" {{#equals type 0}}checked{{/equals}}> 否 </label>
        &nbsp;&nbsp;&nbsp;
        设置权限:
        <select name="role" id="">
          <option value="resource" {{#equals role "resource"}}selected{{/equals}}>资源小微</option>
          <option value="big_data" {{#equals role "big_data"}}selected{{/equals}}>供应商大数据</option>
          <option value="competitive" {{#equals role "competitive"}}selected{{/equals}}>模块竞争力</option>
        </select>
        &nbsp;&nbsp;
        <a href="javascript:void(0)" class="js-delete-rule">删除</a>
      </div>
    {{/each}}
    <div class="control-group" style="text-align: center;">
      <hr>
      <button class="btn btn-medium js-add-rule" type="button">添加一项</button>
      <button class="btn btn-primary btn-medium" type="submit">提交</button>
    </div>
  </form>
{{/component}}
