{{! Copyright (c) 2014 杭州端点网络科技有限公司 }}
<div class="item" data-permission="{{this}}">
  <div class="right floated">
    <a href="#" class="js-link-del-permission"><i class="trash icon"></i></a>
  </div>
  {{this}}
</div>
