<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2013 杭州端点网络科技有限公司
   -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Address">
    <resultMap id="addressMap" type="Address">
        <id property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="name" column="name"/>
        <result property="level" column="level"/>
    </resultMap>
    <sql id="columns">
        parent_id,name, level
    </sql>
    <select id="findById" parameterType="long" resultMap="addressMap">
        SELECT id,
        <include refid="columns"/>
        FROM snz_addresses WHERE id=#{id}
    </select>

    <select id="findByParentId" resultMap="addressMap">
        SELECT id,
        <include refid="columns"/>
        FROM snz_addresses WHERE parent_id=#{parentId} order by id asc
    </select>

    <select id="findByLevel" resultMap="addressMap">
        SELECT id,
        <include refid="columns"/>
        FROM snz_addresses WHERE level=#{level} order by id asc
    </select>

    <insert id="create" parameterType="Address" >
        insert into snz_addresses (id, <include refid="columns"/>)
        values
        (
        #{id}, #{parentId}, #{name}, #{level}
        )
    </insert>

</mapper>