<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="SupplierCountBySupplyPark" >
  <resultMap id="SupplierCountBySupplyParkMap" type="SupplierCountBySupplyPark" >
    <id column="id" property="id" />
    <result column="date" property="date"  />
    <result column="supply_park_id" property="supplyParkId"  />
    <result column="supplier_count" property="supplierCount"  />
    <result column="created_at" property="createdAt" />
    <result column="updated_at" property="updatedAt" />
  </resultMap>

  <sql id="columns" >
   `date`, supply_park_id,supplier_count,created_at, updated_at
  </sql>

  <select id="findLastBy" resultMap="SupplierCountBySupplyParkMap" parameterType="long" >
     select id,<include refid="columns" />
     from snz_supplier_count_by_supply_parks
     where supply_park_id = #{supplyParkId} order by date desc limit #{limit}
  </select>

  <insert id="insert" parameterType="SupplierCountBySupplyPark" useGeneratedKeys="true" keyProperty="id">
    insert into snz_supplier_count_by_supply_parks (<include refid="columns" />)
    values (#{date},#{supplyParkId},#{supplierCount},now(), now())
  </insert>

</mapper>