<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SupplierResource" >
  <resultMap id="SupplierResourceMap" type="SupplierResource" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="v_code" property="vcode" jdbcType="VARCHAR" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="supplier_uid" property="supplierUid" jdbcType="BIGINT"/>
    <result column="product" property="product" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, v_code, supplier_name, supplier_uid, product, user_id, user_name
  </sql>

  <sql id="query_conditions">
    <if test="userId!=null"> AND user_id = #{userId}</if>
    <if test="userName!=null"> AND user_name LIKE concat('%', concat(#{userName}, '%'))</if>
    <if test="vcode!=null"> AND v_code = #{vcode}</if>
    <if test="product!=null"> AND product = #{product}</if>
    <if test="supplierName!=null"> AND supplier_name LIKE concat('%', concat(#{supplierName}, '%'))</if>
  </sql>
  <select id="countBy" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(1)
        FROM snz_suppliers_resources
        <where>
            <include refid="query_conditions"/>
        </where>
  </select>


  <select id="findBy" parameterType="java.util.Map" resultMap="SupplierResourceMap">
        SELECT id, <include refid="Base_Column_List"/>
        FROM snz_suppliers_resources
        <where>
            <include refid="query_conditions"/>
        </where>
        ORDER BY v_code DESC
        <if test="offset!=null and limit!=null">
            LIMIT #{offset}, #{limit}
        </if>
  </select>


  <select id="selectByPrimaryKey" resultMap="SupplierResourceMap" parameterType="long" >
    select 
    <include refid="Base_Column_List" />
    from snz_suppliers_resources
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="long" >
    delete from snz_suppliers_resources
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="SupplierResource" >
    insert into snz_suppliers_resources (id, v_code, supplier_name,
      supplier_uid, product, user_id, user_name
      )
    values (#{id,jdbcType=BIGINT}, #{vcode,jdbcType=VARCHAR}, #{supplierName,jdbcType=VARCHAR},
      #{supplierUid},
      #{product,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="SupplierResource" >
    insert into snz_suppliers_resources
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="vcode != null" >
        v_code,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="supplierUid != null" >
        supplier_uid,
      </if>
      <if test="product != null" >
        product,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="vcode != null" >
        #{vcode,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierUid != null" >
        #{supplierUid}
      </if>
      <if test="product != null" >
        #{product,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="SupplierResource" >
    update snz_suppliers_resources
    <set >
      <if test="vcode != null" >
        v_code = #{vcode,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null" >
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierUid != null" >
        supplier_uid = #{supplierUid}
      </if>
      <if test="product != null" >
        product = #{product,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="SupplierResource" >
    update snz_suppliers_resources
    set v_code = #{vcode,jdbcType=VARCHAR},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      supplier_uid = #{supplierUid}
      product = #{product,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
