{{! Copyright (c) 2014 杭州端点网络科技有限公司 }}
{{#partial "main"}}
<div class="main two-column container">
  <div class="left">
    {{{block "sidebar"}}}
  </div>
  <div class="right">
    {{{block "content"}}}
  </div>
</div>
{{/partial}}
{{> layout}}
