<div class="modal modal-dialog" id="{{id}}" data-event="{{event}}">
  <div class="modal-dialog-icon">
    <i class="icon-success"></i>
  </div>
  <div class="modal-dialog-message">
    <h3>内容已提交</h3>
    <p>点击确定后返回列表</p>
    <div class="modal-controls">
      <a class="btn btn-success btn-medium js-check" href="/suppliers/qualify">
        确定
      </a>
    </div>
  </div>
</div>
