<div class="edit-panel disable js-comp" data-comp-path="admins/category_manage">
  <ul class="tab">
    <li class="attribute-manage active manage-li"><a href="#edit-category" class="switch-panel">编辑类目属性</a></li>
  </ul>
  <div class="tab-content">
    <div id="edit-category" class="active manage-div">
      <button type="button" class="btn btn-success btn-small edit-btn js-add-attribute">添加类目属性</button>
      <ul class="attribute-list">
      </ul>
    </div>
  </div>
</div>
