<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2013 杭州端点网络科技有限公司
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FactoryOrgan">

    <!-- 结果集映射 -->
    <resultMap id="FactoryOrganMap" type="FactoryOrgan">
        <id property="id" column="id"/>
        <result property="factory" column="factory"/>
        <result property="organ" column="organ"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="tb_name">
        snz_factories_organs
    </sql>

    <sql id="cols_all">
        id, <include refid="cols_execlue_id"/>
    </sql>

    <sql id="cols_execlue_id">
        factory, organ, created_at, updated_at
    </sql>

    <sql id="vals_all">
         #{factory}, #{organ}, now(), now()
    </sql>

    <!-- 查询条件 -->
    <sql id="criterias">
        WHERE 1=1
        <if test="status != null"> AND factory = #{factory} </if>
        <if test="status != null"> AND organ = #{organ} </if>
    </sql>

    <!-- 添加 -->
    <insert id="create" parameterType="FactoryOrgan" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO <include refid="tb_name"/>
        (<include refid="cols_execlue_id"/>)
        VALUES
        (<include refid="vals_all"/>)
    </insert>

    <!-- 批量添加 -->
    <insert id="creates" parameterType="list">
        INSERT INTO <include refid="tb_name"/>
        (<include refid="cols_execlue_id"/>)
        VALUES
        <foreach collection="list" item="i" index="index" separator=",">
            (
            #{i.factory}, #{i.organ}, now(), now()
            )
        </foreach>
    </insert>

    <!-- 根据id删除 -->
    <delete id="delete" parameterType="long">
        DELETE FROM <include refid="tb_name"/> WHERE id=#{id}
    </delete>

    <!-- 批量删除 -->
    <delete id="deletes" parameterType="list">
        DELETE FROM
        <include refid="tb_name"/>
        WHERE id IN
        <foreach collection="list" separator="," open="("
                 close=")" item="id">
            #{id}
        </foreach>
    </delete>

    <!-- 更新 -->
    <update id="update" parameterType="FactoryOrgan">
        UPDATE <include refid="tb_name"/>
        <set>
            <if test="status!=null"> factory = #{factory},</if>
            <if test="status!=null"> organ = #{organ},</if>
            updated_at=now()
        </set>
        WHERE id=#{id}
    </update>

    <!-- 根据单个id查找 -->
    <select id="load" parameterType="long" resultMap="FactoryOrganMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb_name"/>
        WHERE id = #{id}
    </select>

    <!-- 根据多个id查找 -->
    <select id="loads" parameterType="list" resultMap="FactoryOrganMap">
        SELECT id,
        <include refid="cols_all"/>
        FROM
        <include refid="tb_name"/>
        WHERE id IN
        <foreach collection="list" separator="," open="("
                 close=")" item="id">
            #{id}
        </foreach>
        ORDER BY id DESC
    </select>

    <select id="list" parameterType="FactoryOrgan" resultMap="FactoryOrganMap">
        SELECT id,
        <include refid="cols_all"/>
        FROM
        <include refid="tb_name"/>
        <include refid="criterias"/>
    </select>

    <!-- 计数 -->
    <select id="count" parameterType="map" resultType="long">
        SELECT COUNT(1) FROM <include refid="tb_name"/>
        <include refid="criterias"/>
    </select>

    <!-- 分页查询 -->
    <select id="paging" parameterType="map" resultMap="FactoryOrganMap">
        SELECT
        <include refid="cols_all"/>
        FROM <include refid="tb_name"/>
        <include refid="criterias"/>
        LIMIT #{offset},#{limit}
    </select>

    <select id="findOrganByFactory" parameterType="string" resultType="string">
        SELECT organ
        FROM <include refid="tb_name"/>
        WHERE factory = #{factory}
    </select>

</mapper>
