{{#component "js-comp material-submit"}}

<p class="components-title"><strong>物料提交</strong>
</p>
<div>
<img src="/assets/images/other-images/material-submit-1.png" style="width:1060px;height:795px;" alt="">
<img src="/assets/images/other-images/material-submit-2.png" style="width:1060px;height:795px;"alt="">
<img src="/assets/images/other-images/material-submit-3.png" style="width:1060px;height:795px;" alt="">
<img src="/assets/images/other-images/material-submit-4.png" style="width:1060px;height:795px;"alt="">
<img src="/assets/images/other-images/material-submit-5.png" style="width:1060px;height:795px;"alt="">
</div>
{{/component}}

