*.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.metadata/
.idea/
.mine/
logs/
dev.properties
dev-admin.properties
test-local.properties
dependency-reduced-pom.xml
*.rdb
*.log
*.gz