.admins-qualify-info{
  .style-quality-group{
    margin-bottom: 20px;
  }
  .style-qualify-span{
    padding: 0 5px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
  }
  .style-qualify-span1{
    width: 500px;
  }
  .style-qualify-span2{
    width: 30px;
  }
  .style-qualify-span3{
    width: 250px;
    word-wrap: break-word;
    line-height: 120%;
    padding: 0 0;
  }
  .style-qualify-span4{
    width: 50px;
    margin-left: 40px;
  }
  .style-qualify-span5{
    width: 100px;
    margin-left: 200px;
  }
}
